body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(20,20,20);
    font-family: monospace;
    color: rgb(255,255,255);
}

.game-container{
    background-color: rgb(0,0,50);
    border: 1px solid rgb(0,0,10);
    box-shadow: 0px 0px 5px 0px rgb(0,0,0);
    border-radius: 10px;
    height: 600px;
    width: 900px;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 0.20fr 0.80fr;
    grid-template-rows: 0.75fr 0.25fr;
    grid-template-areas: "inventory gametext"
                         "inventory options";
    grid-gap: 20px;
}

.inventory{
    border-right: 1px dashed rgb(80,80,80);
    grid-area: inventory;
    padding: 10px;

    .item{
        display: table;
        padding: 5px;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }

    .hover-block{
        pointer-events: none;
        position: absolute;
        background-color: rgb(0,0,50);
        border: 1px solid rgb(80,80,80);
        padding: 20px;
        max-width: 250px;
        box-shadow: 0px 0px 10px 0px rgb(40,40,40);

        h3{
            margin: 0;
            padding: 0;
        }

        p{
            margin-bottom: 0;
        }
    }
}

.game-text{
    grid-area: gametext;
    padding: 10px;
}

.options{
    grid-area: options;
    border-top: 1px dashed rgb(80,80,80);
    padding: 20px;
    min-height: 0;
    overflow: inherit;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(auto-fill, 30px);
    grid-template-columns: repeat(auto-fill, 50%);

    div{
        padding: 8px;

        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}