body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(20,20,20);
    font-family: monospace;
    color: rgb(255,255,255);
}

.game-container{
    background-color: rgb(0,0,50);
    border: 1px solid rgb(0,0,10);
    box-shadow: 0px 0px 5px 0px rgb(0,0,0);
    border-radius: 10px;
    height: 600px;
    width: 900px;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 0.20fr 0.80fr;
    grid-template-rows: 0.75fr 0.25fr;
    grid-template-areas: "inventory gametext"
                         "stats options";
    grid-gap: 20px;
}

.inventory{
    border-right: 1px dashed rgb(80,80,80);
    grid-area: inventory;
    padding: 10px;
    min-height: 0;
    overflow: auto;

    .item{
        display: table;
        padding: 5px;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }
}

.game-text{
    grid-area: gametext;
    padding: 10px;
    min-height: 0;
    overflow: auto;
}

.options{
    grid-area: options;
    border-top: 1px dashed rgb(80,80,80);
    padding: 20px;
    min-height: 0;
    overflow: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(auto-fill, 30px);
    grid-template-columns: repeat(auto-fill, 50%);

    div{
        padding: 8px;

        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.stats{
    grid-area: stats;
    padding: 20px;
    min-height: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;

    .inner{
        padding: 25px 20px 10px 0px;
    }

    .stat-container{
        margin-bottom: 10px;
    }

    .stat-info{
        display: flex;
        justify-content: space-between;
    }

    .stat-bar{
        width: 100%;
        height: 1px;
        position: relative;
        border-radius: 10px;
        background-color: rgba(60,60,60,0.8);
        overflow: hidden;
        margin-top: 2px;

        .filled{
            z-index: 1;
            position: absolute;
            top: 0;
            left: -0%;
            width: 100%;
            height: 100%;
            background-color: rgb(230,0,0);
            transition: left 0.3s;
        }
    }

    &::before{
        content: '';
        position: absolute;
        width: calc(100% - 20px);
        border-top: 1px dashed rgb(80,80,80);
        top: 0px;
        left: 0px;
    }

    &::after{
        content: '';
        position: absolute;
        height: calc(100% - 20px);
        border-right: 1px dashed rgb(80,80,80);
        right: 0px;
        top: 20px;
    }
}

.action{
    text-shadow: 0px 0px 2px rgb(255,255,255);
    font-weight: bold;
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}

.hover-block{
    pointer-events: none;
    position: absolute;
    background-color: rgb(0,0,50);
    border: 1px solid rgb(80,80,80);
    padding: 20px;
    max-width: 250px;
    box-shadow: 0px 0px 10px 0px rgb(40,40,40);
    z-index: 20;

    h3{
        margin: 0;
        padding: 0;
    }

    p{
        margin-bottom: 0;
    }
}

.menu{
    position: absolute;
    background-color: rgb(0,0,50);
    border: 1px solid rgb(80,80,80);
    max-width: 250px;
    box-shadow: 0px 0px 10px 0px rgb(40,40,40);
    z-index: 10;
    padding: 4px 8px 4px 8px;

    div{
        padding: 4px 0px 4px 0px;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 10px;

    &:active{
        border: 1px solid rgba(0,0,0,0.8);
        background: rgba(0,0,0,0.2);
    }
}

::-webkit-scrollbar-thumb{
    background-color: rgba(180,180,180,0.1);
    border-radius: 10px;

    &:hover{
        background: rgba(200,200,200,0.5);
    }

    &:active{
        background: rgba(200,200,200,0.7);
    }
}